<!DOCTYPE html>

<html>

  <head>
    
    <title>Plano</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  
  </head>
  
  <body>
    <div class="container">
    
      <div class="login">
        <label for="email">Login :</label>
        <input type="text" name="email" class="input email" />
        <label for="email">Password :</label>
        <input type="text" name="email" class="input email" />
      </div>
      
      <div class="content">
        <p>Logged in content ! :)</p>
      </div>
    
    </div>
  </body>

</html>
